body {
    background-color: #282730;
    font-family: "Droid Serif";
    margin: 0 0 100px 0;
}
h1 {
    margin: 100px 0 0 0;
    color: #C4A77D;
}

h3 {
    margin: 0 0 20px 0;
    font-weight: normal;
}

a {
    color: #C4A77D;
    text-decoration: none;
}

p {
    margin: 0 0 0 0;
    font-size: 15px;
}

button {
    margin: 10px auto 10px auto;
    background-color: white;
    color: grey;
    border: none;
    padding: 8px;
    font-family: "Droid Serif";
    outline: none;
}

input {
    background-color: white;
    color: grey;
    border: none;
    padding: 8px;
    font-family: "Droid Serif";
    outline: none;
}
.centreItem {
    display: block;
    margin: auto;
    text-align: center;
}

.resultsFormatting {
    margin: auto 15% auto 15%;
}

.evenResult {
    background-color: #c9c8d1;
    padding: 20px;
    color: black;
}

.oddResult {
    margin: 1px 0 1px 0;
    background-color: #35324c;
    padding: 20px;
    color: white;
}

.evenLink {
    color: #282730;
}

#footer {
    color: #C4A77D;
    margin: auto auto 20px;
}
