body {
    background-color: #282730;
    font-family: "Droid Serif";
}
h1 {
    margin: 40px 0 0 0;
    color: #C4A77D;
}

h3 {
    margin: 0 0 20px 0;
}

a {
    color: #C4A77D;
    text-decoration: none;
}

p {
    margin: 0 0 0 0;
    font-size: 15px;
}

button {
    margin: 10px auto 10px auto;
    background-color: white;
    border: none;
    padding: 8px;
}

input {
    background-color: white;
    border: none;
    padding: 8px;

}
.centreItem {
    display: block;
    margin: auto;
    text-align: center;
}

.resultsFormatting {
    margin: auto 50px auto 50px;
}

.evenResult {
    background-color: #c9c8d1;
    padding: 20px;
    color: black;
}

.oddResult {
    margin: 1px 0 1px 0;
    background-color: #35324c;
    padding: 20px;
    color: white;
}

#footer {
    color: #C4A77D;
}
